<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1013628651053-rg16ugh5utfer8enhgvuhjb2tqpice0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013628651053-rg16ugh5utfer8enhgvuhjb2tqpice0a</string>
	<key>API_KEY</key>
	<string>AIzaSyCRoRjqyk0YSwY6G_0X8D_PeCzAfSXYcPg</string>
	<key>GCM_SENDER_ID</key>
	<string>1013628651053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Trey.AFG</string>
	<key>PROJECT_ID</key>
	<string>caritas-408da</string>
	<key>STORAGE_BUCKET</key>
	<string>caritas-408da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013628651053:ios:d7ad121e2600f50a</string>
	<key>DATABASE_URL</key>
	<string>https://caritas-408da.firebaseio.com</string>
</dict>
</plist>